body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #86c4d3;
}

input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.custom-file-upload {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #333;
}

.custom-file-upload:hover {
  background-color: #ddd;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005F6B;
}

label {
  font-weight: bold;
}

.mainDiv {
  padding-top: 10%;
}